<p id="notice"><%= notice %></p>

<% @post.each do |post| %>
  <div class="post_wrapper">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
    <p class="show"><%= link_to 'Show', post %></p>
  <div>
<% end %>

<%= link_to 'New Post', new_post_path %>
